/* 폰트 */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* font-family: 'NanumSquare'; */

/* body */
body {
    position: relative;
    overflow-x: hidden;
    font-family: "Pretendard-Regular";
    word-break: keep-all;
}
/* ==================================================================== */

/* ====================== 모바일 버전 ============================ */
@media (max-width: 759px) {
    /* header */
    header {
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    /* 스크롤시 헤더색 바뀜 */
    .bg_on {
        background-color: black;
        transition-property: background-color;
        transition-duration: 0.5s;
    }
    header a {
        color: #fff;
    }
    header h1 {
        width: 200px;
    }
    h1 img {
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 500;
        display: none;
    }
    .icon_wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        box-sizing: border-box;
        font-size: 25px;
    }
    .ham_icon {
        width: 60px;
    }
    .side_menu {
        width: 350px;
        height: 1200px;
        position: absolute;
        right: -1500px;
        top: 0px;
        background-color: ghostwhite;
        transition: 0.5s;
        transition-property: right;
    }
    .side_menu a {
        color: #222;
        font-weight: bold;
    }
    /* 사이드메뉴 들어옴 */
    .side_on {
        right: 0px;
    }
    .side_txt {
        font-family: "Bebas Neue", sans-serif;
        font-size: 60px;
        position: absolute;
        top: 35%;
        left: 10%;
        transform: translateY(-50%);
    }
    /* 사이드메뉴 스플리팅 */
    .side_txt a .char {
        color: transparent;
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    .side_txt a .char::before,
    .side_txt a .char::after {
        content: attr(data-char);
        position: absolute;
        left: 0px;
        top: 0px;
        transition: transform 0.3s;
        transition-delay: calc(30ms * var(--char-index));
        color: #222;
        opacity: 0.9;
    }

    .side_txt a .char::before {
        /* color: red; */
        transform: translateY(100%);
        opacity: 1;
    }
    /* 마우스를 위치시키면*/
    .side_txt a:hover .char::before {
        transform: translateY(0px);
    }
    .side_txt a:hover .char::after {
        transform: translateY(-100%);
    }

    /* 햄버거바 */
    .wrap {
        width: 30px;
        height: 26px;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 20px;
        z-index: 10;
    }
    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    /* wh_on 토글시 색바뀜 */
    .wh_on {
        background-color: #222;
    }
    .down {
        margin-top: 10px;
        text-align: end;
    }
    .on {
        transform: translateY(12px) rotate(-45deg);
    }
    .on-d {
        transform: translateY(-1px) rotate(45deg);
    }
    /* container */
    #container {
        width: 100vw;
    }
    section {
        width: 100vw;
        height: 1200px;
    }
    /* 타이틀 배너 */
    .titl_banner {
        width: 100%;
        height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: -900px -250px;
        background-size: cover;
        position: relative;
    }
    .p1_titl {
        background-image: url(../img/title_banner01.jpg);
    }
    .b_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .titl_banner h2 {
        width: 100%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 70px;
        text-align: center;
        font-family: "Bebas Neue", serif;
    }

    .brand_titl .char {
        display: inline-block;
        animation: slide-in 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: calc(60ms * var(--char-index));
    }
    @keyframes slide-in {
        from {
            transform: translateX(1.5em) scale(0.5);
            opacity: 0;
        }
    }

    /* page01 */
    .page01 {
        height: 1000px;
        box-sizing: border-box;
        padding-top: 100px;
    }
    .p1_txt {
        width: 75%;
        height: 300px;
        position: relative;
        margin: 0px auto;
    }
    .p1_txt > li {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 50px 50px 0px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .p1_txt > li:nth-child(1) {
        opacity: 1;
    }
    .p1_txt > li:nth-child(2) {
        transform: translateY(120%);
        background-color: rgba(235, 235, 235, 1);
    }
    .p1_txt > li:nth-child(3) {
        transform: translateY(120%);
        background-color: rgba(225, 225, 225, 1);
    }
    .p1_txt > li p {
        width: 80%;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        font-family: "NanumSquare";
        font-weight: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .p1_card {
        width: 75%;
        height: 450px;
        border-radius: 0px 0px 50px 50px;
        overflow: hidden;
        position: relative;
        margin: 0px auto;
    }
    .p1_card > li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .p1_card > li:nth-child(1) {
        opacity: 1;
    }
    .p1_card > li:nth-child(2),
    .p1_card > li:nth-child(3) {
        transform: translateY(120%);
    }
    .p1_card > li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* 중간 페이지 타이틀 */
    .mid_titl {
        text-align: center;
        box-sizing: border-box;
    }
    .mid_titl h2 {
        font-family: "NanumSquare";
        font-size: 35px;
        font-weight: 900;
        transform: translateY(200px);
        opacity: 0;
    }
    /* page02 */
    .page02 {
        position: relative;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .p2_bg {
        width: 100%;
        height: 100%;
        background-image: url(../img/brand_page02.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bk_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .p2_txt {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }
    .p2_txt > li {
        width: 100%;
        color: #fff;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
    }
    .p2_txt p {
        transform: translateY(200px);
        opacity: 0;
    }
    .up_bar,
    .down_bar {
        width: 50px;
        height: 3px;
        background-color: #fff;
        margin: 30px auto;
        transform: translateY(200px);
        opacity: 0;
    }
    .p2_txt > li > p {
        font-family: "NanumSquare";
        font-weight: 100;
    }
    /* 타이틀2 */
    .titl2 {
        text-align: center;
        box-sizing: border-box;
    }
    .titl2 h2 {
        font-family: "NanumSquare";
        font-size: 35px;
        font-weight: 900;
        transform: translateY(200px);
        opacity: 0;
    }
    /* page03 */
    .page03 {
        height: 3000px;
        box-sizing: border-box;
        padding-top: 150px;
    }
    .p3_txt {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
    }
    .p3_txt > li {
        width: 100%;
        height: 450px;
        border-radius: 50px;
    }
    .p3_txt li:nth-child(1),
    .p3_txt li:nth-child(4),
    .p3_txt li:nth-child(5),
    .p3_txt li:nth-child(8) {
        transform: scale(0);
    }
    .p3_txt .txt_box {
        height: 200px;
        position: relative;
    }
    .p3_txt > li:nth-child(4) {
        margin-bottom: 100px;
    }
    .txt_wrap {
        width: 100%;
        font-family: "NanumSquare";
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    .txt_wrap > p {
        margin-bottom: 10px;
    }
    .p3_txt img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
    /* footer */
    footer {
        width: 100vw;
        height: 300px;
        background-color: black;
        box-sizing: border-box;
        padding: 40px;
        position: relative;
    }
    footer > h1 {
        width: 300px;
    }
    footer img {
        width: 100%;
    }
    .sns {
        display: flex;
        gap: 20px;
        margin: 20px 0px;
    }
    .sns a {
        color: #fff;
        font-size: 20px;
    }
    .Copyright {
        height: 22%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-end;
        color: #fff;
        font-size: 14px;
        margin-top: 50px;
    }
    .Copyright li {
        width: 100%;
    }
    /* top 스크롤 버튼 */
    .top_Butt {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 5px 5px #999;
        background-color: #fff;
        position: absolute;
        cursor: pointer;
        top: 100px;
        right: 50px;
    }
    .top_Butt img {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* ====================== 태블릿 버전 ============================ */

@media (min-width: 760px) and (max-width: 1499px) {
    /* header */
    header {
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    /* 스크롤시 헤더색 바뀜 */
    .bg_on {
        background-color: black;
        transition-property: background-color;
        transition-duration: 0.5s;
    }
    header a {
        color: #fff;
    }
    header h1 {
        width: 200px;
    }
    h1 img {
        width: 100%;
    }
    .navi_wrap {
        margin-right: 80px;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 500;
    }
    .menu > li {
        position: relative;
    }
    .menu .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -5px;
        right: 90px;
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    /* 제이쿼리 */
    .menu .circle_mov {
        opacity: 1;
        right: -15px;
    }
    .icon_wrap {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        box-sizing: border-box;
        font-size: 25px;
    }
    .icon_wrap > li {
        position: relative;
    }
    .icon_wrap .circle2 {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -5px;
        right: 30px;
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    /* 제이쿼리 */
    .icon_wrap .icon_mov {
        opacity: 1;
        right: -10px;
    }

    .ham_icon {
        width: 60px;
    }
    .side_menu {
        width: 400px;
        height: 1200px;
        position: absolute;
        right: -500px;
        top: 0px;
        background-color: ghostwhite;
        transition: 0.5s;
        transition-property: right;
    }
    .side_menu a {
        color: #222;
        font-weight: bold;
    }
    /* 사이드메뉴 들어옴 */
    .side_on {
        right: 0px;
    }
    .side_txt {
        font-family: "Bebas Neue", sans-serif;
        font-size: 70px;
        position: absolute;
        top: 40%;
        left: 10%;
        transform: translateY(-50%);
    }
    /* 사이드메뉴 스플리팅 */
    .side_txt a .char {
        color: transparent;
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    .side_txt a .char::before,
    .side_txt a .char::after {
        content: attr(data-char);
        position: absolute;
        left: 0px;
        top: 0px;
        transition: transform 0.3s;
        transition-delay: calc(30ms * var(--char-index));
        color: #222;
        opacity: 0.9;
    }

    .side_txt a .char::before {
        /* color: red; */
        transform: translateY(100%);
        opacity: 1;
    }
    /* 마우스를 위치시키면*/
    .side_txt a:hover .char::before {
        transform: translateY(0px);
    }
    .side_txt a:hover .char::after {
        transform: translateY(-100%);
    }

    /* 햄버거바 */
    .wrap {
        width: 30px;
        height: 26px;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
        right: 50px;
        top: 20px;
        z-index: 10;
    }
    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    /* wh_on 토글시 색바뀜 */
    .wh_on {
        background-color: #222;
    }
    .down {
        margin-top: 10px;
        text-align: end;
    }
    .on {
        transform: translateY(12px) rotate(-45deg);
    }
    .on-d {
        transform: translateY(-1px) rotate(45deg);
    }
    /* container */
    #container {
        width: 100vw;
    }
    section {
        width: 100vw;
        height: 1200px;
    }
    /* 타이틀 배너 */
    .titl_banner {
        width: 100%;
        height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: -100px -250px;
        background-size: cover;
        position: relative;
    }
    .p1_titl {
        background-image: url(../img/title_banner01.jpg);
    }
    .b_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .titl_banner h2 {
        width: 100%;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 100px;
        font-family: "Bebas Neue", serif;
    }

    .brand_titl .char {
        display: inline-block;
        animation: slide-in 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: calc(60ms * var(--char-index));
    }
    @keyframes slide-in {
        from {
            transform: translateX(1.5em) scale(0.5);
            opacity: 0;
        }
    }

    /* page01 */
    .page01 {
        height: 1050px;
        box-sizing: border-box;
        padding-top: 130px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .p1_txt {
        width: 50%;
        height: 750px;
        margin-left: 65px;
        position: relative;
    }
    .p1_txt > li {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 50px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .p1_txt > li:nth-child(1) {
        opacity: 1;
    }
    .p1_txt > li:nth-child(2) {
        transform: translateY(120%);
        background-color: rgba(235, 235, 235, 1);
    }
    .p1_txt > li:nth-child(3) {
        transform: translateY(120%);
        background-color: rgba(225, 225, 225, 1);
    }
    .p1_txt > li p {
        width: 80%;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        font-family: "NanumSquare";
        font-weight: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .p1_card {
        width: 80%;
        height: 750px;
        border-radius: 50px;
        margin-right: 80px;
        overflow: hidden;
        position: relative;
    }
    .p1_card > li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .p1_card > li:nth-child(1) {
        opacity: 1;
    }
    .p1_card > li:nth-child(2),
    .p1_card > li:nth-child(3) {
        transform: translateY(120%);
    }
    .p1_card > li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* 중간 페이지 타이틀 */
    .mid_titl {
        text-align: center;
        box-sizing: border-box;
    }
    .mid_titl h2 {
        font-family: "NanumSquare";
        font-size: 55px;
        font-weight: 900;
        transform: translateY(200px);
        opacity: 0;
    }
    /* page02 */
    .page02 {
        position: relative;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .p2_bg {
        width: 100%;
        height: 100%;
        background-image: url(../img/brand_page02.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bk_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .p2_txt {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .p2_txt > li {
        color: #fff;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
    }
    .p2_txt p {
        transform: translateY(200px);
        opacity: 0;
    }
    .up_bar,
    .down_bar {
        width: 50px;
        height: 3px;
        background-color: #fff;
        margin: 30px auto;
        transform: translateY(200px);
        opacity: 0;
    }
    .p2_txt > li > p {
        font-family: "NanumSquare";
        font-weight: 100;
    }
    /* 타이틀2 */
    .titl2 {
        text-align: center;
        box-sizing: border-box;
    }
    .titl2 h2 {
        font-family: "NanumSquare";
        font-size: 65px;
        font-weight: 900;
        transform: translateY(200px);
        opacity: 0;
    }
    /* page03 */
    .page03 {
        height: 3300px;
        box-sizing: border-box;
        padding-top: 150px;
    }
    .p3_txt {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
    }
    .p3_txt > li {
        width: calc(100% / 2);
        height: 750px;
        border-radius: 50px;
    }
    .p3_txt li:nth-child(1),
    .p3_txt li:nth-child(4),
    .p3_txt li:nth-child(5),
    .p3_txt li:nth-child(8) {
        transform: scale(0);
    }
    .txt_box {
        position: relative;
    }
    .txt_wrap {
        width: 100%;
        font-family: "NanumSquare";
        font-weight: 100;
        font-size: 25px;
        text-align: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    .txt_wrap > p {
        margin-bottom: 10px;
    }
    .p3_txt img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
    /* footer */
    footer {
        width: 100vw;
        height: 300px;
        background-color: black;
        box-sizing: border-box;
        padding: 40px;
        position: relative;
    }
    footer > h1 {
        width: 500px;
    }
    footer img {
        width: 100%;
    }
    .sns {
        display: flex;
        gap: 20px;
        margin: 20px 0px;
    }
    .sns a {
        color: #fff;
        font-size: 30px;
    }
    .Copyright {
        height: 22%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        color: #fff;
        font-size: 14px;
        margin-top: 50px;
    }
    .Copyright li {
        width: 100%;
    }
    /* top 스크롤 버튼 */
    .top_Butt {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 5px 5px #999;
        background-color: #fff;
        position: absolute;
        cursor: pointer;
        top: 30px;
        right: 50px;
    }
    .top_Butt img {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* ========================== pc버전 ============================= */

@media (min-width: 1500px) {
    /* header */
    header {
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    /* 스크롤시 헤더색 바뀜 */
    .bg_on {
        background-color: black;
        transition-property: background-color;
        transition-duration: 0.5s;
    }
    header a {
        color: #fff;
    }
    header h1 {
        width: 200px;
    }
    h1 img {
        width: 100%;
    }
    .navi_wrap {
        margin-right: 90px;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 500;
    }
    .menu > li {
        position: relative;
    }
    .menu .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -5px;
        right: 90px;
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    /* 제이쿼리 */
    .menu .circle_mov {
        opacity: 1;
        right: -15px;
    }
    .icon_wrap {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        box-sizing: border-box;
        font-size: 25px;
    }
    .icon_wrap > li {
        position: relative;
    }
    .icon_wrap .circle2 {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -5px;
        right: 30px;
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    /* 제이쿼리 */
    .icon_wrap .icon_mov {
        opacity: 1;
        right: -10px;
    }
    .ham_icon {
        width: 60px;
    }
    .side_menu {
        width: 450px;
        height: 1200px;
        position: absolute;
        right: -500px;
        top: 0px;
        background-color: ghostwhite;
        transition-property: right;
        transition: 0.5s;
    }
    .side_menu a {
        color: #222;
        font-weight: bold;
    }
    /* 사이드메뉴 들어옴 */
    .side_on {
        right: 0px;
    }
    .side_txt {
        font-family: "Bebas Neue", sans-serif;
        font-size: 70px;
        position: absolute;
        top: 40%;
        left: 10%;
        transform: translateY(-50%);
    }
    /* 사이드메뉴 스플리팅 */
    .side_txt a .char {
        color: transparent;
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    .side_txt a .char::before,
    .side_txt a .char::after {
        content: attr(data-char);
        position: absolute;
        left: 0px;
        top: 0px;
        transition: transform 0.3s;
        transition-delay: calc(30ms * var(--char-index));
        color: #222;
        opacity: 0.9;
    }

    .side_txt a .char::before {
        /* color: red; */
        transform: translateY(100%);
        opacity: 1;
    }
    /* 마우스를 위치시키면*/
    .side_txt a:hover .char::before {
        transform: translateY(0px);
    }
    .side_txt a:hover .char::after {
        transform: translateY(-100%);
    }

    /* 햄버거바 */
    .wrap {
        width: 30px;
        height: 26px;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
        right: 50px;
        top: 20px;
        z-index: 10;
    }
    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    /* wh_on 토글시 색바뀜 */
    .wh_on {
        background-color: #222;
    }
    .down {
        margin-top: 10px;
        text-align: end;
    }
    .on {
        transform: translateY(12px) rotate(-45deg);
    }
    .on-d {
        transform: translateY(-1px) rotate(45deg);
    }
    /* container */
    #container {
        width: 100vw;
    }
    section {
        width: 100vw;
        height: 1200px;
    }
    /* 타이틀 배너 */
    .titl_banner {
        width: 100%;
        height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: 0px -250px;
        background-size: cover;
        position: relative;
    }
    .p1_titl {
        background-image: url(../img/title_banner01.jpg);
    }
    .b_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .titl_banner h2 {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 150px;
        font-family: "Bebas Neue", serif;
    }

    .brand_titl .char {
        display: inline-block;
        animation: slide-in 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: calc(60ms * var(--char-index));
    }
    @keyframes slide-in {
        from {
            transform: translateX(1.5em) scale(0.5);
            opacity: 0;
        }
    }

    /* page01 */
    .page01 {
        height: 1050px;
        box-sizing: border-box;
        padding-top: 130px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .p1_txt {
        width: 500px;
        height: 750px;
        position: relative;
    }
    .p1_txt > li {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        border-radius: 50px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .p1_txt > li:nth-child(1) {
        opacity: 1;
    }
    .p1_txt > li:nth-child(2) {
        transform: translateY(120%);
        background-color: rgba(235, 235, 235, 1);
    }
    .p1_txt > li:nth-child(3) {
        transform: translateY(120%);
        background-color: rgba(225, 225, 225, 1);
    }
    .p1_txt > li p {
        width: 80%;
        line-height: 60px;
        text-align: center;
        font-size: 40px;
        font-family: "NanumSquare";
        font-weight: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .p1_card {
        width: 900px;
        height: 750px;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
    }
    .p1_card > li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
    .p1_card > li:nth-child(1) {
        opacity: 1;
    }
    .p1_card > li:nth-child(2),
    .p1_card > li:nth-child(3) {
        transform: translateY(120%);
    }
    .p1_card > li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* 중간 페이지 타이틀 */
    .mid_titl {
        text-align: center;
        box-sizing: border-box;
    }
    .mid_titl h2 {
        font-family: "NanumSquare";
        font-size: 65px;
        font-weight: 900;
        transform: translateY(200px);
        opacity: 0;
    }
    /* page02 */
    .page02 {
        position: relative;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .p2_bg {
        width: 100%;
        height: 100%;
        background-image: url(../img/brand_page02.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bk_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .p2_txt {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .p2_txt > li {
        color: #fff;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
    }
    .p2_txt p {
        transform: translateY(200px);
        opacity: 0;
    }
    .up_bar,
    .down_bar {
        width: 50px;
        height: 3px;
        background-color: #fff;
        margin: 30px auto;
        transform: translateY(200px);
        opacity: 0;
    }
    .p2_txt > li > p {
        font-family: "NanumSquare";
        font-weight: 100;
    }
    /* 타이틀2 */
    .titl2 {
        text-align: center;
        box-sizing: border-box;
    }
    .titl2 h2 {
        font-family: "NanumSquare";
        font-size: 65px;
        font-weight: 900;
        transform: translateY(200px);
        opacity: 0;
    }
    /* page03 */
    .page03 {
        height: 3300px;
        box-sizing: border-box;
        padding-top: 150px;
    }
    .p3_txt {
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
    }
    .p3_txt > li {
        width: calc(100% / 2);
        height: 750px;
        border-radius: 50px;
    }
    .p3_txt li:nth-child(1),
    .p3_txt li:nth-child(4),
    .p3_txt li:nth-child(5),
    .p3_txt li:nth-child(8) {
        transform: scale(0);
    }
    .txt_box {
        position: relative;
    }
    .txt_wrap {
        width: 100%;
        font-family: "NanumSquare";
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    .txt_wrap > p {
        margin-bottom: 10px;
    }
    .p3_txt img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
    /* footer */
    footer {
        width: 100vw;
        height: 300px;
        background-color: black;
        box-sizing: border-box;
        padding: 40px;
        position: relative;
    }
    footer > h1 {
        width: 500px;
    }
    footer img {
        width: 100%;
    }
    .sns {
        display: flex;
        gap: 20px;
        margin: 20px 0px;
    }
    .sns a {
        color: #fff;
        font-size: 30px;
    }
    .Copyright {
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: #fff;
    }
    /* top 스크롤 버튼 */
    .top_Butt {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 5px 5px #999;
        background-color: #fff;
        position: absolute;
        cursor: pointer;
        top: 30px;
        right: 50px;
    }
    .top_Butt img {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
